    h1, h2, h3, p {
        text-align: center;
        color: #ffffff;
    }

    /* Sección de Artículos */
    .articulos {
        padding: 2rem;
        background-color: rgba(253, 253, 253, 0);
    }

    .articulos-en-venta {
        max-width: 1200px;
        margin: 0 auto;

        h1{
            margin: 20px;
            text-shadow: 1px 0.5px 1px #ffffff8f;
        }
    }

    .lista-articulos {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
    }

    .articulo {
        background-color: #979999;
        border-radius: 8px;
        padding: 1rem;
        text-align: center;
        transition: transform 0.2s, box-shadow 0.2s;
    }

    .articulo:hover {
        transform: translateY(-5px);
    }

    .articulo img {
        max-width: 60%;
        border-radius: 5px;
        margin-bottom: 0.5rem;
    }

    /* Sección de Producto Destacado */
    .producto-destacable {
        padding: 2rem;
        background-color: #000000;
        color: #fff;

        h2{
            margin: 20px;
            font-size: 35px;
            text-align: center;
            text-shadow: 0px 2px 0px #ffffff2d;
            
        }
    }

    .destacado {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        position: relative;
    }

    .destacado img {
        max-width: 100%;
        border-radius: 8px;
        margin-bottom: 20px;

        transition: transform 0.3s ease;
        transform-origin: center center;

        &:hover {
            transform: scale(1.1);
        }
    }

    .destacado p {
        margin: 20px;
    }

    /* Sección de Otros Productos */
    .otros-productos {
        padding: 2rem;
        background-color: rgba(253, 253, 253, 0);

        h3{
            font-size: 33px;
            text-shadow: 0px 2px 0px #ffffff2d;
        }
    }

    .otros {
        max-width: 1200px;
        margin: 0 auto;
    }

    .lista-otros-productos {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
        margin: 20px;
    }

    .otro-producto {
        border-bottom: 2px solid #fff;
        background-color: #979999;
        border-radius: 8px;
        padding: 1rem;
        text-align: center;
        transition: transform 0.2s, box-shadow 0.2s;
    }

    .otro-producto:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .otro-producto img {
        max-width: 60%;
        border-radius: 5px;
        margin-bottom: 0.5rem;
    }