//Cortes de pelo
.spam-cortes{
    display: flex;
    padding: 5px;
    font-size: 28px;
    font-weight: bolder;
    background-color: #2c2219;
    margin: -4px auto;
    max-width: 100%;
}

.spam{

    h3{
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }

}

