@media (min-width: 1440px) and (max-width: 1919px) {
    /* Estilo para los títulos */
    h1, h2, h3, p {
        text-align: left;
        color: #ffffff;
    }

    /* Sección de Artículos */
    .articulos {
        padding: 4rem;
    }

    .articulos-en-venta {
        max-width: 1300px;
        margin: 0 auto;
    }

    .lista-articulos {
        grid-template-columns: repeat(4, 1fr);
    }

    .articulo {
        background-color: #979999;
        border-radius: 8px;
        padding: 2rem;
        text-align: left;
    }

    /* Sección de Producto Destacable */
    .producto-destacable {
        padding: 4rem;
        background-color: #000000;
        color: #fff;
    }

    .destacado {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .destacado img {
        max-width: 100%;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    /* Sección de Otros Productos */
    .otros-productos {
        padding: 4rem;
        background-color: rgba(253, 253, 253, 0);
    }

    .otros {
        max-width: 1400px;
        margin: 0 auto;
    }

    .lista-otros-productos {
        grid-template-columns: repeat(4, 1fr);
    }

    .otro-producto {
        background-color: #979999;
        border-radius: 8px;
        padding: 2rem;
        text-align: left;
        transition: transform 0.2s, box-shadow 0.2s;
    }
}
