
// _variables.scss

$color-primary: #18181b; //Color fondo

$color-secundary: #2c2219; //Color marron

$color-naranja: #d97706; //Color naranja

$color-boton: #0e74909d; //Color inicial del boton

$color-botonprof: #0e74907c; //Animación del boton

$color-black: #00000028;//Color de reserva

.paletaDeColores{
    color: #18181b;
    color: #d97706;
    color: #0e74909d;
}

