@media (min-width: 320px) and (max-width: 374px) {
  /* Estilo para los títulos */
  h1,
  h2,
  h3,
  p {
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
  }

  header {
    justify-content: space-between;
    padding: 5px;
    position: relative;
    align-items: center;

    img {
      width: 80px;
    }

    ul {
      li {
        margin: 6px 0;
      }
    }
  }

  .menu-navegacion {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    padding: 8px;
    transition: max-height 0.3s ease;
    max-height: 0;
  }

  .menú-otros {
    display: block;
    cursor: pointer;
  }

  // Texto sobre la imagen principal
  .texto-superpuesto {
    top: 34%;
    left: 75%;

    h1 {
      font-size: 2.5vh;
    }
  }

  // Redes sociales
  .redes-sociales {
    top: 35%;
    left: 75%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;

    a {
      img {
        width: 8px;
        height: 8px;
      }
    }
  }

  // Sección de Artículos
  .articulos {
    padding: 1rem;

    .articulos-en-venta {
      max-width: 100%;
      margin: 0 auto;
      padding: 0.8rem;
    }

    .lista-articulos {
      grid-template-columns: 1fr; /* Una sola columna */
      gap: 0.4rem;
    }

    .articulo {
      background-color: #979999;
      border-radius: 8px;
      padding: 0.8rem;
      text-align: center;
      transition: transform 0.2s, box-shadow 0.2s;
    }
  }

  // Producto Destacado
  .producto-destacable {
    padding: 1.5rem;
    background-color: #000000;
    color: #fff;

    .destacado {
      max-width: 90%;
      margin: 0 auto;
      text-align: center;

      img {
        max-width: 70%;
        border-radius: 8px;
        margin-bottom: 10px;
      }
    }
  }

  // Otros Productos
  .otros-productos {
    padding: 1.5rem;
    background-color: rgba(253, 253, 253, 0);

    .otros {
      max-width: 100%;
      margin: 0 auto;
    }

    .lista-otros-productos {
      grid-template-columns: 1fr;
      gap: 0.4rem;
    }

    .otro-producto {
      background-color: #979999;
      border-radius: 8px;
      padding: 0.8rem;
      text-align: center;
      transition: transform 0.2s, box-shadow 0.2s;
    }
  }
  // Footer
  .tittle-footer {
    h3 {
      font-size: 36px;
    }

    .p {
      font-size: 14px;
    }

    .iframe {
      height: auto;
    }
  }

  // Redes sociales Footer
  .redes-sociales-footer {
    a {
      img {
        width: 7vh;
        height: 7vh;
      }
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: center;
    }
  }
}
