@media (min-width: 425px) and (max-width: 767px) {
  // Ajustes para el Header y Menú
  header {
    nav {
      ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0;
        background-color: #000;
        width: 100%;
        padding: 25px;
        border-radius: 8px;
      }

      &.active {
        ul {
          background-color: #239;
          display: flex;
          align-items: center;
          padding: 0px;
        }
      }
    }

    .menú-otros {
      display: block;

      a {
        color: #ffffff;
        font-size: 2rem;
      }
    }

    ul {
      li {
        margin: 18px 0;
      }
    }
  }

  // Ajustes para el texto sobre la imagen principal
  .texto-superpuesto {
    top: 20%;
    left: 75%;

    h1 {
      font-size: 4.5vh;
    }
  }

  // Redes sociales en la imagen principal
  .redes-sociales {
    top: 23%;
    left: 75%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;

    a {
      img {
        width: 22px;
        height: 22px;
      }
    }
  }

  // Estilo del carrito
  .carrito-compras {
    display: flex;
    margin: 25px;
    flex-wrap: wrap;
    gap: 25px;
    padding: 25px;
    box-sizing: border-box;
  }

  // Formulario
  .envio, .retiro, .metodo-pago {
    flex-direction: column;
    gap: 12px;
  }

  // Inputs
  input[type="text"], select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }

  // Productos de compra
  .productos-compra .producto {
    padding: 20px;
  }

  // Estilo del total de compra
  .total-compra {
    margin-top: 25px;
  }

  button {
    padding: 12px 18px;
    font-size: 16px;
  }

  // Productos similares
  .productos-similares {
    margin-top: 25px;
  }

  .productos {
    flex-direction: column;
    gap: 15px;
  }

  .producto-similar {
    flex: 1;
    padding: 18px;
  }

  .producto-similar img {
    max-width: 100%;
    height: auto;
  }

  .total-compra p {
    font-size: 18px;
  }

  .enlace {
    font-size: 16px;
    padding: 10px 15px;
  }
}
