// Menú de navegación
@use "../utilities/variables" as variables;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ffffff;

  img {
    width: 120px;
    height: auto;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 20px;
    }
  }

  a {
    color: #ffffff;
    transition: color 0.3s ease;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  a:hover {
    color: variables.$color-naranja;
  }

  // Estilo cuando el menú está activo (hamburguesa visible)
  nav.active {
    background-color: #000;
  }

  .menú-otros {
    display: none;
    align-items: center;

    img {
      width: 4vh;
      margin-left: 15px;
    }
  }
}