.redes-sociales-footer{
    a{
        img{
            width: 55px;
            height: 55px;
            margin: 5px;
            border-bottom: 1px solid #ffffff;
            padding: 2px;
            margin: 15px;
        }
    }

    ul{
        display: flex;
        list-style: none;
        justify-content: center;
    }
}