.segundo-spam{
    text-align: center;
    background-color: #2c2219 ;
    color: white;
    padding: 20px;

    a{
        display: inline-block;
        color: #ffffff;
        background-color: #0e7490 ;
        padding: 15px 25px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #ffffff;
        font-size: 22px;
    }

    h3{
        color: #ffffff;
        padding: 10px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
    }
}