.texto-superpuesto{
    position: absolute;
    top: 54%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-size: 3vw;
    border-bottom: 1px solid #ffffff;

    h1{
        color: #d97706;
    }
}