$Background-Color: #18181b;
$Color-orange: #d97706;
$boton-reservar: #0e74909d;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: $Background-Color;
    font-family: "Manjari", sans-serif;
}